{%extends 'Shop/base.html'%}
{%block title%}{%endblock%}
{%block content%}
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="https://www.meme-arsenal.com/memes/6d21f4481f2ab785c9841ee337c00c4a.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">19.999₽</h5>
            <p class="card-text">Zenith</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">9.8 реинтинг</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Подробнее</a>
        </div>
    </div>
</div>
{%endblock%}